@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Shantell+Sans&display=swap');

body{
    font-family: 'Playpen Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.6;
    color: #333;
}

.title, .post-it__nav{
    font-family: 'Shantell Sans', sans-serif;
    font-size: 62px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}