@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Shantell+Sans&display=swap');

body{
    font-family: 'Playpen Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.title{
    font-family: 'Shantell Sans', sans-serif;
    font-size: 2em;
    margin-bottom: 0.5em;
}