@import 'utils/variables';
@import 'components/type';

html, body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

body {
    background: #D4AC89;
}

.container{
    display:flex;
    height:100%;
    width:100%;
}

.paper {
    margin:30px;
    position: relative;
    width:100%;
    padding: 25px;
    background-color: #FFF5C0;
    box-sizing: border-box;
}

.corner {
    margin:30px;
    height: 100px;
    width: 100px;
    content:"";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #D4AC89;
    background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, #D8CFA1 50%);
    transition: all ease-in-out 0.5s;
    z-index: 1;
    box-shadow: 7px -7px 7px -5px rgba(0,0,0,0.3);

    &:not(.animate-paper):hover {
        height: 125px;
        width: 125px;

        .home {
            bottom: 25px;
            left: 25px;
        }
    }

    .home {
        // retirer pour ne pas animer l'icone
        fill: none;
        stroke: #000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 1700;
        stroke-dashoffset: 1700;
        -webkit-animation: dash 20s linear forwards;
        animation: dash 20s linear forwards;
        //
        transition: all ease-in-out 0.5s;
        position: absolute;
        bottom: 15px;
        left: 15px;
        height: 35px;
        width: 35px;
    }
}
@-webkit-keyframes dash {
to {
    stroke-dashoffset: 0;
}
}
@keyframes dash {
to {
    stroke-dashoffset: 0;
}
}

.animate-paper {
    height: 300px;
    width: 300px;

    .home {
        bottom: 25px;
        left: 25px;
    }
}

