@import 'utils/variables';
@import 'components/type';

html, body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow: hidden;
}

body {
    background: #D4AC89;
}

.pince {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -55px);
    width: 200px;
    height: 200px;
    z-index: 3;
}

.container{
    display:flex;
    height:100%;
    width:100%;
    flex-direction: column;
}

.paper {
    margin:50px 30px 30px 30px;
    position: relative;
    padding: 20px 6% 20px 6%;
    background-color: #FFF5C0;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    .top-half{
        display:flex;
        justify-content: space-between;
        align-items: center;

        .content{
            width: 60%;
        }
    }
}

.corner {
    margin: 50px 30px calc(40px + 30px) 30px;
    height: 100px;
    width: 100px;
    content:"";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #D4AC89;
    background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, #D8CFA1 50%);
    transition: all ease-in-out 0.5s;
    z-index: 1;
    box-shadow: 7px -7px 7px -5px rgba(0,0,0,0.3);

    &:not(.animate-paper):hover {
        height: 125px;
        width: 125px;
    }

    .home {
        // retirer pour ne pas animer l'icone
        fill: none;
        stroke: #000;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 1700;
        stroke-dashoffset: 1700;
        -webkit-animation: dash 10s linear forwards;
        animation: dash 10s linear forwards;
        //
        transition: all ease-in-out 0.5s;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 35px;
        width: 35px;
    }
}
@-webkit-keyframes dash {
to {
    stroke-dashoffset: 0;
}
}
@keyframes dash {
to {
    stroke-dashoffset: 0;
}
}

.animate-paper {
    height: 600px;
    width: 600px;

    .home {
        top: 25px;
        right: 25px;
    }
}

.footer {
    text-align: center;
    margin: 10px 30px 10px 30px;
    height:20px;
}

