@import 'utils/variables';
@import 'components/type';


@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
    }
    @keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
    }

html, body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

body {
    background: $background-color;
}

.post-it{
    display:flex;
    height:100%;
    width:100%;
    flex-direction: column;
    justify-content: flex-end;

}

.post-it__paper {
    margin:25px 25px 20px;
    position: relative;
    padding: 20px 6% 20px 6%;
    background-color: $post-it-1;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    .post-it__content{
        display:flex;
        justify-content: space-between;
        align-items: center;

        .post-it__sub-content{
            width: 66.6%;
        }
    }

    .post-it__sub-content{
        width: 33.3%;
    }
}

.post-it__corner {
    margin: 0 0 75px 25px;
    height: 100px;
    width: 100px;
    content:"";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: $background-color;
    background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, #D8CFA1 50%);
    transition: all cubic-bezier(0.42, 0, 0.58, 1) 0.5s;
    z-index: 1;
    box-shadow: 7px -7px 7px -5px rgba(0,0,0,0.3);

    &:not(.--animatecorner):hover {
        // TODO corriger le hover pour que l'animation ne se lance pas PENDANT une autre animation (wtf)
        height: 125px;
        width: 125px;
    }

    .post-it__homeicon {
        // retirer pour ne pas animer l'icone
        fill: none;
        stroke: $text-color;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 1700;
        stroke-dashoffset: 1700;
        -webkit-animation: dash 10s linear forwards;
        animation: dash 10s linear forwards;
        //
        transition: all cubic-bezier(0.42, 0, 0.58, 1) 0.5s;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 35px;
        width: 35px;
    }

    &.--animatecorner {
        height: 100%;
        width: 100%;
        background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%);
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
        transition: all cubic-bezier(0.42, 0, 0.58, 1) 0.5s;

        .post-it__homeicon {
            top: 25px;
            right: 25px;
        }
    }
}

.post-it__nav {
    width:100%;
    position: absolute;
    z-index:5;
    flex-direction: column;
    align-items: center;
    height:0;
    opacity:0;
    overflow:hidden;
    transition: opacity cubic-bezier(0.42, 0, 0.58, 1) 0.5s, height cubic-bezier(0.42, 0, 0.58, 1) 0.5s;


    .post-it__navlinks {
        display:flex;
        z-index:5;
        flex-direction: column;
        align-items: center;

        a{
            margin: 10px 0;
            font-size: 1.802rem;
            text-decoration: none;
            color: $text-color;
            transition: color cubic-bezier(0.42, 0, 0.58, 1) 0.2s;
        }

        a:hover{
            color: $post-it-1;
        }
    }

    &.--toggleVisibility {
        height: 100%;
        opacity: 1;
        transition: opacity cubic-bezier(0.42, 0, 0.58, 1) 0.5s, height cubic-bezier(0.42, 0, 0.58, 1) 0.5s;
    }
}

.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 25px 15px;

    .footer__copyright {
        height:40px;
        width:100%;
        padding: 0 20px 0 20px;
        margin-right:25px;
    }

    .footer__socials{
        height:40px;
        width:25%;
        padding: 0 20px 0 0;
    }
}
